<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327758991149-ea72uo9vnn26ob4vs04etnqk61m5fa5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327758991149-ea72uo9vnn26ob4vs04etnqk61m5fa5g</string>
	<key>API_KEY</key>
	<string>AIzaSyCRElOPiQ6ezO8efaXi45frPtUr0FJm4dk</string>
	<key>GCM_SENDER_ID</key>
	<string>327758991149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.en3am.en3amApp</string>
	<key>PROJECT_ID</key>
	<string>anaam-6cd94</string>
	<key>STORAGE_BUCKET</key>
	<string>anaam-6cd94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327758991149:ios:37d43d42ca2d3989d50da4</string>
</dict>
</plist>